<header class="main-header">
    <div class="grid">
        <div class="logo"><img src="/assets/img/logo.svg" alt="WatchTower Logo"></div>
        <nav>
            <a href="//WatchTower.com">WatchTower Home</a>
            <a href="//WatchTower.com/about-us">About</a>
        </nav>
    </div>
</header>
<header class="sub-header">
    <div class="grid">
        <h1 class="site-title">WatchTower Compliance</h1>
        <a class="up-next" href="/#/">&gt; Policy Docs</a>
        <% if current_page.data.search %>
        <div class="search">
            <span class="icon"><img src="/assets/img/icons/search.png" alt="Search Icon"></span>
        </div>
        <% end %>
    </div>
</header>
<div class="grid">
    <ul class="search-results"></ul>
</div>
